click==6.7
easydict==1.6
matplotlib==2.2.2
numpy==1.17.4
pandas==0.19.2
Pillow==6.2.1
prompt_toolkit==1.0.15
pytablewriter==0.35
PyYAML==4.2b4
tensorflow-datasets==1.0.2
whaaaaat==0.5.2
cython==0.27.3
