tox==2.9.1
flake8==3.5.0
pytest==5.2.0
better-apidoc==0.1.2
sphinx-rtd-theme==0.2.4
Sphinx==1.7.2
sphinx-autobuild==0.7.1
click==6.7
easydict==1.6
matplotlib==2.2.2
numpy==1.15.0
pandas==0.19.2
Pillow==6.2.1
prompt_toolkit==1.0.15
pytablewriter==0.35
PyYAML==4.2b4
tensorflow-datasets==1.0.2
whaaaaat==0.5.2
ipdb==0.10.2
ray==0.6.4
psutil==5.6.1
setproctitle==1.1.10
hyperopt==0.1.2
scipy
cython
scikit-image
opencv-python
h5py
imgaug
IPython[all]

# tensorflow-gpu==1.14.0
tensorflow==1.14.0
keras==2.2.4


#imgaug


# Download and install the Python COCO tools from https://github.com/waleedka/coco
# That's a fork from the original https://github.com/pdollar/coco with a bug
# fix for Python 3.
# I submitted a pull request https://github.com/cocodataset/cocoapi/pull/50
# If the PR is merged then use the original repo.
# Note: Edit PythonAPI/Makefile and replace "python" with "python3".
