# Byte-compiled / optimized / DLL files
__pycache__/
dlk2.egg-info/
.eggs
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
dist/

# pyenv
.python-version

# IDE
.idea/
cmake-build-debug
.env
.vscode/

# tmp
tmp/

# docs
docs/python/_build/
docs/python/html/
docs/python/latex/
docs/python/xml/

# mypy
.mypy_cache/

# pyre
.pyre/
